<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lunasoft Inventory List</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <%- include('../_layouts/header') %>

    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Product Start -->
                <div class="col-lg-12 col-md-12">
                    <div class="row pb-3">
                
                    <% products.forEach(prod => { %>
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="<%= prod.images[0] %>" alt="<%= prod.prodName %>">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3"><%= prod.prodName %></h6>
                            <div class="d-flex justify-content-center">
                                <h6>Ksh <%= prod.price.toLocaleString() %></h6>
                                <% if (prod.originalPrice && prod.originalPrice > prod.price) { %>
                                <h6 class="text-muted ml-2"><del>Ksh <%= prod.originalPrice.toLocaleString() %></del></h6>
                                <% } %>
                            </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="/<%= slugify(prod.prodCat, { lower: true }) %>/<%= slugify(prod.prodDesc, {lower: true}) %>/<%= prod._id %>" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-eye text-primary mr-1"></i>View Detail
                            </a>
                            <a href="/cart/add/<%= prod._id %>" class="btn btn-sm text-dark p-0" data-id="<%= prod._id %>"
                                data-name="<%= prod.prodName %>"
                                data-price="<%= prod.price %>"
                                data-image="<%= prod.images[0] %>">
                                <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
                            </a>
                            </div>
                        </div>
                        </div>
                    <% }); %>
                    </div>
                </div>
            <!-- Shop Product End -->
  
        </div>
    </div>
    <!-- Shop End -->


    <%- include('../_layouts/footer') %>


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script>
        const CART_KEY = 'cartItems';
      
        // Get current cart from localStorage
        function getCart() {
          return JSON.parse(localStorage.getItem(CART_KEY)) || [];
        }
      
        // Save cart to localStorage
        function saveCart(cart) {
          localStorage.setItem(CART_KEY, JSON.stringify(cart));
        }
      
        // Add product to cart
        function addToCart(product) {
          const cart = getCart();
          const existing = cart.find(item => item._id === product._id);
          if (existing) {
            existing.qty += 1;
          } else {
            cart.push({ ...product, qty: 1 });
          }
          saveCart(cart);
          alert("Product added to cart!");
        }
      
        // Attach to all add-to-cart buttons
        document.addEventListener('DOMContentLoaded', () => {
          document.querySelectorAll('.add-to-cart').forEach(button => {
            button.addEventListener('click', () => {
              const prod = {
                _id: button.dataset.id,
                name: button.dataset.name,
                price: parseFloat(button.dataset.price),
                image: button.dataset.image
              };
              addToCart(prod);
            });
          });
        });
    </script>
      
</body>

</html>